
body {
    display: flex;
    background: linear-gradient(rgba(248, 245, 245, 0.5),
     rgba(243, 243, 243, 0.5) 100%), url("./img/bckgbar.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.global {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 200px;

}

nav {
    display: flex;
    border-radius: 20px;
    background: rgba(221, 217, 185, 0.555);
    padding-top: 25px;
    padding: 20px;
    font-size: 25px; 
}

.imgbar{
     width: 130px;
   
}

.imgbar01 {
    width: 130px;

}

.imgbar02 {
    width: 70px;
}

.imgbar03 {
    width: 100px;
}

.div01 {
    display: flex;
    margin-top: 100px;
}

img {
    width: 350px;  
}

.in {
    width: 30px;
}

.fc {
    width: 30px;
}

.wpp {
    width: 30px;
}



